<div class="nav-header">
	<a href="{{ path('app_admin_dashboard') }}" class="navbar-brand logo pt-3" style="font-size: 1.5rem;">
		<i class="fa fa-hand-holding-usd"></i> <span style="color: #7dcea0;">Cash</span><span style="color: #3498db;">Rewards.fr </span>
	</a>

	<div class="nav-control">
		<div class="hamburger">
			<span class="line"></span>
			<span class="line"></span>
			<span class="line"></span>
		</div>
	</div>
</div>

