{% extends 'base.html.twig' %}

{% block title %}{{ appName }} - Accueil{% endblock %}

{% block flexBox %}
  {% include "home/_flexSlider.html.twig" %}
{% endblock %}

{% block body %}

<section>
	<div class="container">
		<div class="row" style="display:flex;flex-direction:column;">

<h1 style="margin:0;padding:30px 0;color:#7dcea0!important;">Conditions d'utilisation</h1>

<p>Bienvenue sur CashRewards.fr. Si vous continuez à naviguer et à utiliser ce site Web, vous acceptez de respecter et d'être lié par les termes et conditions d'utilisation suivants, qui, avec notre politique de confidentialité, régissent la relation de CashRewards.fr avec vous en ce qui concerne ce site Web. Si vous n'êtes pas d'accord avec une partie de ces termes et conditions, veuillez cesser d'utiliser notre site Web.

CashRewards.fr est une auto-entreprise situé en France.</p>

<h4 style="margin-bottom:15px">1.0 - Conditions</h4>
<p>En accédant à nos services sur ce site, vous acceptez les conditions générales énoncées ici. Vous êtes également responsable de vous conformer à toutes les lois et réglementations applicables, et vous êtes responsable du respect de toutes les lois locales. Ce site est protégé par la loi sur le droit d'auteur en vigueur. Nous nous réservons le droit de refuser le service à moyennement, sans raison à tout moment.</p>

<h4 style="margin-bottom:15px">2.0 - Utilisations interdites</h4>
<p>Ce site ne peut être utilisé à des fins illicites.</p>

<h4 style="margin-bottom:15px">3.0 - Chat sur place</h4>
<p>La fonctionnalité de chat sur le site ne peut pas être utilisée pour ce qui suit :

Harceler d'autres utilisateurs ou les faire se sentir importuns.
Toxicité, ou dire des choses conçues pour provoquer une réaction sur les autres.
Publicité ou spam. Cela inclut la publication de liens de parrainage.
Demander de l'argent à d'autres utilisateurs ou au personnel (mendicité).
Partage de liens pornographiques ou profonds.</p>

<h4 style="margin-bottom:15px">4.0 - Accès restreint</h4>
<p>Vous devez avoir au moins 13 ans pour utiliser nos services.</p>

<h4 style="margin-bottom:15px">5.0 - Lien de parrainage/code promotionnel</h4>
<p>Nous nous réservons le droit de révoquer le lien de parrainage/code promotionnel des utilisateurs. Cela ne serait fait que dans le cas où un utilisateur prendrait un code couramment utilisé par une autre personne, comme des YouTubers ou des célébrités en ligne.</p>

<h4 style="margin-bottom:15px">6.0 - Bannissements de compte</h4>
<p>Nous nous réservons le droit d'interdire temporairement ou définitivement des utilisateurs à tout moment. Toute activité que nous jugeons suspecte ou potentiellement frauduleuse justifierait un gel de compte.

L'un des éléments suivants justifierait une interdiction/gel de compte :

Utiliser plusieurs comptes ou plus d'un compte par foyer.
Recevoir des rétrofacturations d'offre.
Compléter des offres sur le compte d'un autre utilisateur.
Utilisation de tout type de logiciel VPN, VPS ou émulateur.
Utiliser de faux numéros SMS, Google Voice ou VOIP lors de la vérification de votre numéro de téléphone.
Compléter de nombreuses offres en peu de temps.
Compléter des offres suspectes qui ont un taux élevé de rétrofacturation.</p>

<h4 style="margin-bottom:15px">7.0 - Offre bloquée</h4>
<p>Nous réservons le droit de suspendre temporairement tout crédit d'offre jusqu'à 90 jours après la fin d'une offre.</p>

<h4 style="margin-bottom:15px">8.0 - Monnaies</h4>
<p>Toutes les valeurs de « devise » sur ce site sont représentées par des pièces. Les pièces ne représentent aucune valeur réelle et ne peuvent être utilisées qu'en échange de nos options de retrait.</p>

<h4 style="margin-bottom:15px">9.0 - Remboursements</h4>
<p>Vous pouvez recevoir un remboursement si le site a fait une erreur. Toute autre erreur, telle qu'une erreur avec PayPal, ou des erreurs de saisie des adresses de retrait sont hors de notre contrôle et ne sont pas éligibles à un remboursement de notre part. Vous devrez contacter directement le fournisseur pour recevoir un remboursement.

Nous ne pouvons pas rembourser les pièces pour un retrait sur un compte PayPal interdit/limité, cependant si vous contactez PayPal et faites en sorte que la transaction soit remboursée sur notre compte, nous serons en mesure de rembourser vos pièces lorsque nous recevrons les fonds.</p>
		</div>
	</div>
</section>

{% endblock %}
