{% extends 'base.html.twig' %}

{% block title %}{{ appName }} - Accueil{% endblock %}

{% block flexBox %}
  {% include "home/_flexSlider.html.twig" %}
{% endblock %}

{% block body %}

<section>
	<div class="container">
		<div class="row" style="display:flex;flex-direction:column;">
<h1 style="margin:0;padding:30px 0;color:#7dcea0!important;">Politique de confidentialité</h1>

<h4 style="margin-bottom:15px">1.0 Introduction</h4>
<p>CashRewards.fr a conçu ce site conformément à la réglementation sur la protection des données pour vous assurer, en tant qu'utilisateur, que vous pouvez utiliser nos services en sachant que l'intégrité de vos informations personnelles est sécurisée. Cette politique de confidentialité décrit les mesures que nous prenons pour maintenir l'intégrité de vos informations et divulguer à la fois comment et pourquoi nous recueillons vos informations. En continuant à utiliser nos services, vous consentez à la collecte et au stockage de vos données comme décrit dans cette politique de confidentialité.</p>

<h4 style="margin-bottom:15px">2.0 - Collecte de données</h4>
<p>Lors de l'utilisation de nos services, vous pouvez être amené à partager des informations personnelles vous concernant, telles que votre adresse e-mail, votre nom complet, votre adresse personnelle, etc. Ces informations sont collectées dans le seul but de vous proposer des enquêtes et des offres adaptées. Une enquête particulière peut avoir un public déterminé requis, donc ces informations aident à filtrer les enquêtes non pertinentes pour lesquelles vous n'auriez pas été qualifié. Nous ne collecterons jamais sciemment des informations personnelles de toute personne de moins de 13 ans.</p>
Nous collectons également des informations non personnelles, notamment votre adresse IP, le type de navigateur et les cookies. Ces informations nous permettent de vous offrir une meilleure expérience et nous permettent de minimiser la fraude sur nos services.</p>

<h4 style="margin-bottom:15px">3.0 - Cookies et stockage local</h4>
<p>Ce site utilise des cookies pour identifier votre ordinateur et nous permettre d'associer les demandes de votre ordinateur à l'utilisateur concerné. Le stockage local fournit des fonctionnalités utiles, telles que la mémorisation des préférences de l'utilisateur lors des sessions de navigation précédentes.
En utilisant nos services, vous acceptez notre utilisation des cookies et du stockage local décrite ci-dessus. Les cookies et le stockage local peuvent être effacés ou bloqués à tout moment, mais la fonctionnalité de nos services sera sévèrement limitée si vous choisissez de les bloquer.</p>

<h4 style="margin-bottom:15px">4.0 - Tiers</h4>
<p>Le Site fait appel à des partenaires tiers tels que des murs d'offres et des routeurs de sondages pour vous proposer en tant qu'utilisateur des offres et des sondages. Les informations que nous partageons avec ces partenaires varient en fonction du type d'offre. Pour les « offres » régulières, la seule information que nous partageons est votre identifiant unique que nous avons généré pour identifier votre compte de manière unique. Pour les « sondages », les seules informations que nous partageons sont votre identifiant unique, ainsi que toute information que vous nous avez fournie, qui est transmise pour aider le fournisseur à filtrer les sondages non pertinents.
Tous les services tiers intégrés à notre site peuvent également collecter des informations auprès de vous sur leur propre site Web, et ils ont des politiques de confidentialité distinctes et indépendantes. Nous déclinons toute responsabilité quant à leur contenu et leurs activités. Si vous n'êtes pas satisfait ou préoccupé par l'une de ces politiques de confidentialité tierces, veuillez nous contacter et nous nous ferons un plaisir d'enquêter.</p>

<h4 style="margin-bottom:15px">5.0 - Partage d'informations</h4>
<p>Notre politique est de ne pas partager, vendre ou louer vos informations personnelles à des tiers pour notre propre bénéfice personnel, mais il peut y avoir des situations où nous sommes tenus de partager vos informations personnelles avec des tiers, tels que les organismes d'application de la loi compétents. Si nous estimons qu'il est raisonnablement nécessaire de se conformer aux forces de l'ordre ou à d'autres organismes de réglementation, nous pouvons le faire sans votre consentement ou avis préalable.
Nous pouvons également partager vos informations personnelles si nous pensons qu'il est nécessaire d'enquêter, de prévenir ou d'agir concernant des situations qui constituent une menace pour la sécurité, les droits et les actifs de l'entreprise, ou des violations de nos politiques ou conditions d'utilisation. Nous pouvons également partager vos informations personnelles si nécessaire en cas de fraude, comme la fraude à la carte de crédit sur les offres.
La divulgation d'informations sensibles aux organisations ou autorités compétentes est à la seule discrétion de la direction de l'entreprise.</p>

<h4 style="margin-bottom:15px">6.0 - Sécurité</h4>
<p>Nous prenons la protection et la sensibilité de vos données très au sérieux. Nous utilisons des techniques standard de l'industrie pour nous protéger contre l'accès non autorisé aux données vous concernant que nous stockons, y compris les informations personnelles.
Les informations personnelles que nous collectons à votre sujet sont stockées sur des serveurs sécurisés, hébergés par des hébergeurs leaders du secteur. Nous maintenons également de nombreuses mesures de sécurité pour tenter de nous protéger contre la perte, l'utilisation abusive et l'altération des informations personnelles sous notre contrôle.
Cependant, aucune méthode de transmission ou de stockage électronique n'est sécurisée à 100 %. Par conséquent, nous ne pouvons garantir la sécurité de ces informations ni être responsables de tout dommage résultant d'une violation de la sécurité. En outre, vous devez savoir qu'Internet et les autres supports de communication en réseau ne sont pas entièrement sécurisés et que vos informations peuvent donc faire l'objet d'interceptions ou de pertes qui échappent à notre contrôle raisonnable. En conclusion, bien que nous nous efforcions de protéger vos informations personnelles, nous ne pouvons assurer ou garantir la sécurité des informations personnelles que vous nous transmettez, et toute transmission est effectuée à vos risques et périls. En conséquence, nous n'assumons aucune responsabilité ou obligation pour la divulgation de vos informations personnelles ou d'autres informations en raison d'erreurs de transmission, d'accès de tiers non autorisés,</p>

<h4 style="margin-bottom:15px">7.0 - Pour les résidents européens</h4>
<p>Si vous résidez en Europe, veuillez noter les éléments suivants requis par le Règlement général sur la protection des données : La Société peut fournir le Service aux Utilisateurs situés en Europe.
Dans son interaction avec les Utilisateurs européens du Service, la Société est un contrôleur de données, de sorte que nous sommes l'organisation qui décide des finalités et des modalités d'utilisation des données personnelles que nous avons collectées.
Vous acceptez que nous ayons le droit d'obtenir, d'utiliser et de traiter les informations que vous nous fournissez pour nous permettre d'exécuter les services.
De plus, vous acceptez que nous soyons autorisés à stocker vos données sur des serveurs situés aux États-Unis.
Notre motif légitime pour le traitement de vos informations personnelles sera "l'intérêt légitime". Sous "intérêts légitimes", nous pouvons traiter vos informations personnelles si nous avons une raison réelle et légitime et si nous ne nuisons à aucun de vos droits et intérêts.
Conformément à la loi applicable, CashRewards.fr peut divulguer ou transférer les données personnelles et autres informations collectées via l'Application/les Services à des tiers.
Nous traiterons vos données personnelles de manière licite, loyale et transparente uniquement dans le but légitime de pouvoir fournir le service.
Nous ne demanderons, ne traiterons et ne conserverons les informations personnelles que dans la mesure nécessaire pour pouvoir fournir le Service. Nous les conserverons sous une forme qui, et uniquement pendant la durée, permet l'identification des personnes concernées pendant une durée n'excédant pas celle nécessaire.
Vous pouvez retirer votre consentement à tout moment et demander que vos informations personnelles soient effacées.
Vous pouvez demander une copie de toutes les informations personnelles conservées à votre sujet et demander qu'elles soient rectifiées si des informations sont incorrectes.</p>

<p>La Société conserve tous les enregistrements dans leur intégralité jusqu'à ce que l'Utilisateur demande la suppression du compte, auquel cas nous supprimerons toutes les informations personnelles sans retard injustifié. Si vous nous demandez d'effacer vos informations personnelles, nous serons également tenus de supprimer votre compte et vous ne pourrez pas utiliser le service à moins que vous n'ouvriez un autre compte.</p>

<h4 style="margin-bottom:15px">8.0 - Modifications de cette politique de confidentialité</h4>
<p>Nous pouvons mettre à jour cette politique de confidentialité de temps à autre, avec ou sans préavis, vous devez donc ajouter cette page à vos favoris et la consulter régulièrement. Nous vous informerons en changeant la date sur cette page en notant quand la politique a été mise à jour pour la dernière fois. L'utilisation continue du site est considérée comme votre consentement. (modifié)</p>

<h4 style="margin-bottom:15px">9.0 - Contacter</h4>
<p>Si vous avez d'autres questions concernant notre politique de confidentialité, veuillez nous contacter à gestion@cashrewards.fr Si vous nous contactez pour exercer vos droits à la vie privée, pour la protection de votre compte, nous pourrions demander une preuve de votre identité.</p>


		</div>
	</div>
</section>

{% endblock %}
