{% extends 'auth.html.twig' %}

{% block title %}E-mail de réinitialisation du mot de passe envoyé{% endblock %}

{% block textBloc %}
    <div class="bloc-text">
        <h1 class="green-color h2 wow fadeInRight" data-wow-duration="3s" data-wow-delay="0.3s" data-wow-offset="0">
            Réinitialisez votre mot de passe
        </h1>
    </div>
{% endblock %}

{% block body %}
    <p>
        Si un compte correspondant à votre adresse e-mail existe, un e-mail vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
    </p>
    <p>Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou <a href="{{ path('app_forgot_password_request') }}">réessayer</a>.</p>
{% endblock %}
