{% extends 'admin.html.twig' %}

{% block title %}Edit Paiement{% endblock %}

{% block body %}
    <h1>Edit Paiement</h1>

    {{ include('admin/admin_paiements_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_paiements_crud_index') }}">back to list</a>

    {{ include('admin/admin_paiements_crud/_delete_form.html.twig') }}
{% endblock %}
