{% extends 'base.html.twig' %}

{% block title %}Vos affiliers - {{ app.user.pseudo }}{% endblock %}

{% block flexBox %}{% endblock %}

{% block body %}

{% include('user/_userBanner.html.twig') %}

<section class="compte-section pt-3 pb-3">
	<div class="container">
			<div class="card">
				<div class="card-header bg-transparent"><h4>Vos affiliers</h4></div>
				<div class="card-body">
					<div class="row">
						{% for affilier in affiliers %}
						<div class="col-md-3">
							{% include('user/_affilierBox.html.twig') %}
						</div>
						{% endfor %}
					</div>
				</div>
				<div class="card-footer bg-transparent">
					{{ knp_pagination_render(affiliers) }}
				</div>
			</div>
		</div>
	</section>
	<!-- End Section missions -->
	{% endblock %}
