{% extends 'admin.html.twig' %}

{% block title %}{{ user.pseudo }} - affiliers {% endblock %}

{% block pagetitle %}{% endblock %}

{% block body %}

{% include('admin/admin_users_crud/_userProfilBanner.html.twig') %}

<div class="row">
	<div class="col-sm-12">
		<div class="card">
			<div class="card-header"><h4 class="p-4">Les affiliers de {{ user.pseudo }}</h4></div>
			<div class="card-body">
				<div class="row">
					{% for affilier in userAffiliers(app.user) %}
					<div class="col-sm-3">
						{% include('user/_affilierBox.html.twig') %}
					</div>
					{% else %}

					<p>Aucun affiliers pour l'instant</p>
					{% endfor %}
				</div>
				
				<div>
					{{ knp_pagination_render(affiliers) }}
				</div>
			</div>
		</div>
	</div>
</div>                
{% endblock %}
