{% extends 'admin.html.twig' %}

{% block title %}Nouvel Utilisateur{% endblock %}

{% block pagetitle %}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-5 mx-auto">

            <h1 class="h4 pb-4 font-weight-bold">Créer un nouvel utilisateur</h1>

            {{ include('admin/admin_users_crud/_form.html.twig') }}

            <a href="{{ path('app_admin_users_crud_index') }}" class="d-block mt-4">Tout les utilisateurs</a>

        </div>
    </div>


{% endblock %}
